{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "expo",
    "plugin:@typescript-eslint/recommended",
    "plugin:@tanstack/query/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "@tanstack/query"],
  "ignorePatterns": ["/dist/*"],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-empty-object-type": "off",
    "@typescript-eslint/no-namespace": "off"
  }
}
